cairocffi==0.8.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
idna==2.6
numpy==1.13.3
oauthlib==2.0.6
pycparser==2.18
python-igraph==0.7.1.post6
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
